
.outer-wrapper {
  position: relative;
  text-align: center;
}

.wrapper {
  top: 0;
  display: inline-block;
  width: 400px;
  height: 600px;
}
.blocking {
  overflow: hidden;
}

.controls {
  left: 250px;
  padding: 1rem;
  position: relative;
  top: -200px;
}

.slider-wrapper {
  display: inline-block;
  position: absolute;
  margin-top: 1em;
  margin-left: 1em;
  top: 0;
}
input[type=range][orient=vertical] {
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* WebKit */
  width: 8px;
  height: 490px;
  padding: 0 5px;
}

#sliding-box {
  position: relative;
}

#overlay-box {
  position: relative;
  top: -604px;
}

#overflow {
  margin-bottom: 1rem;
}

.path {
  stroke-dasharray: 50;
  stroke-dashoffset: 100;
  pointer-events: none;
  animation: firstAnimation 1s linear forwards infinite;
}

@keyframes firstAnimation {
  to {
      stroke-dashoffset: 0;
  }
}
